<!DOCTYPE HTML>
<html class="reftest-wait">
<head>
</head>
<body>

<div style="display: flex; align-items: baseline">
  <div style="display: flex; height: 100px; width: 100px; overflow: hidden;">
    <div id="target" style="background: green; width: 100px; height: 150px;"></div>
  </div>
  <div style="background: blue; height: 70px; width: 100px;"></div>
</div>
</body>
<script>
function doTest() {
    document.getElementById("target").style.height = "50px";
    document.documentElement.classList.remove("reftest-wait");
}
window.addEventListener('load', doTest, false);
</script>
</html>
